@model IEnumerable<App.Models.Room>

<h2>All Rooms</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.Room_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Id)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.RoomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.Room_Id)
            @Html.HiddenFor(modelItem => item.Status_Id)
            <td>
                @Html.DisplayFor(modelItem => item.RoomType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Room_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Room_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Room_Id })
            </td>
        </tr>
    }
</table>

<div>
    <center>
        @Html.ActionLink("Booked", "GetBooked", new { }, new { @class = "btn btn-default", @style = "width:125px" })      
        @Html.ActionLink("Occupied", "GetOccupied", new { }, new { @class = "btn btn-default", @style = "width:125px" })    
        @Html.ActionLink("Vacant", "GetVacant", new { }, new { @class = "btn btn-default", @style = "width:125px" })  
    </center>
</div>
<br/>
<div>
    <center>
        @Html.ActionLink("Count of Each", "CountOfEachType", new { }, new { @class = "btn btn-default", @style = "width:125px" })
        @Html.ActionLink("Count of Available", "CountOfAvailableType", new { }, new { @class = "btn btn-default", @style = "width:132px" })
    </center>
</div>